/* Cambiar el color de fondo de la pestaña activa */
.o_notebook .nav-tabs .nav-item .nav-link.active {
    background-color: #d1d1d1 !important; /* Color de fondo para la pestaña activa */
    color: #000000 !important; /* Color del texto */
    font-weight: bold !important; /* Hacer la letra en negrita */
}

/* Opcional: Cambiar el color de las pestañas inactivas */
.o_notebook .nav-tabs .nav-item .nav-link {
    background-color: var(--primary) !important; /* Color de fondo para pestañas inactivas */
    color: #ffffff !important; /* Color del texto */
}